{# templates\view.html #}
{% extends '_base.html' %}
{% block main %}

<h2>Editando "{{ content.name }}"</h2>

<p>Altere somente o que for necessário!</p>
<p><em>Todos os campos são obrigatórios!</em></p>

<form method="post">
    <input type="hidden" name="id" value="{{ content.id }}">
    <p>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required value="{{ content.name }}">
    </p>
    <p>
        <label for="description">Descrição:</label>
        <textarea name="description" id="description" rows="4" required>{{ content.description }}</textarea>
    </p>
    <p>
        <label for="location">Localização:</label>
        <input type="text" name="location" id="location" required value="{{ content.location }}">
    </p>
    <p>
        <label for="photo">URL da foto:</label>
        <input type="url" name="photo" id="photo" required value="{{ content.photo }}">
    </p>
    <p>
        <button type="submit">Salvar</button>
    </p>
</form>

<p><a href="{{ url_for('index') }}">◂ Página incial</a></p>

{% endblock %}