{% extends '_base.html' %}

{% block main %}

<section>

<h2>Todos os Trecos</h2>

{% if total > 0 %}
    {% for content in contents %}
    <p>
        <img src="{{ content.photo }}" alt="{{ content.name }}" width="100"><br>
        <a href="{{ url_for('view', thing_id=content.id) }}">{{ content.name }}></a>
    </p>
    {% endfor %}
{% else %}
    <p>
        Nenhum treco cadastado ainda!
        <a href="{{ url_for('new') }}">Cadastre um treco</a>
    </p>

{% endif %}

</section>

{% endblock %}